@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700,100);


body {
font-family: 'Roboto Slab', serif;
text-align: center;
background: #F5F0EB;
position: center;
padding-top: 0px;
margin: 0px auto;
}
h1 {
	font-family: 'Amatic SC', cursive;
	background-image: url("../images/WanderingScene.gif");
	border: none;
	width: 100%;
	height: 320px;
	margin: 0px auto;
	padding-top: 45px;
	letter-spacing: auto;
	font-weight: 800;
	font-size: 70px;
}
nav {


}
span {
	font-weight: bold;
	font-size: 12px;
}
#slogan {
	border: none;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color: #000;
	background-color: rgba(0,0,0,.05);
	padding: 40px;
	margin-top: 0px;
	line-height: 30px;
	font-size: 16px;
	letter-spacing: auto;
	text-align: 10px;
}
#infobelow {
	border: none;
	font-weight: 100;
	padding: 80px;
	margin: 0 auto;
	line-height: 2em;
	font-size: 18px;
	max-width: 600px;
}
li {
	border: none;
	font-size: 16px;
	font-weight: 400;
	text-transform: lowercase;
	display: inline;
    margin: 0px auto;
    padding: 10px;
    margin-bottom: 0px auto;
    color: #000;
}
div {
  background-image: center;
}
#bottominfo {
	background-color: rgba(0,0,0,.05);
	    padding: 40px 20px 40px 20px;

}
ul {
	color: #503E2B;
	background-color: rgba(0,0,0,.05);
	margin: 0px auto;
	line-height: 2em;
	font-size: 10px;
	padding: 40px 20px 40px 20px;
	letter-spacing: 2em;
	text-align: 10px;
	border: none;
	border: 0px auto;
	letter-spacing: .25em;
	}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	color: #0033CC;
}

}
img {
	padding-top: 0px;
}
#contact {
	font-family: 'Amatic SC', cursive;
	color: ##3D3D29;
	font-size: 75px;
	font-weight: 700;
	padding: 30px;
}