body {
	font-family:'Open Sans', sans-serif;
	line-height: 1.5;
	font-weight: 100;
	font-size: 14px;
	letter-spacing: .1em;
	color: #333333;
	text-align: center;
}

#container {
	width: 80%;
	display: center;

}

header{
	padding: 0;
	margin: 0;
}