#container {
	font-family:'Open Sans', sans-serif;
	line-height: 1.5;
	font-weight: 100;
	font-size: 14px;
	letter-spacing: .1em;
	color: #333333;
	text-align: center;
}

h1 {
	font-size: 3em;
	padding: 2%;
}
h2 {
	font-size: 3em;
	font-weight: 100;
}
h3 {
	font-size: 1em;
	font-weight: 400;
}
h4 {
	font-size: 1em;
	font-weight: 100;
	padding-top: 2em;
	padding-bottom: 2em;
	background-color: rgb(244,245,248);
}
#more {
	padding: 1em;
}
.logo img{
	width: 40%;
	padding: 1em;
	margin: 0;
}

#logo img{
	width: 25%;
	padding: 1.5em 1.5em .5em 1.5em;
}
.icon img{
	width: 20%;
	padding: 2em;
	margin: 0;
}

p {
	font-size: 1.5em;
	padding: 1% 7%;
}
#sitenav {
	font-family: 'Oswald', sans-serif;
	display: center;
	background-color: rgb(244,245,248);
	text-align: center;
	font-size: 1em;
	}
#nav {
	background-color: rgb(244,245,248);
}
#main {
	background: #FFF;
	width: 80%;
	margin: 0 auto;
	padding: 0 2% 2% 2%;
}
#tagline {
	font-weight: 100;
	font-size: 2em;
	text-align: center;
	padding-top: 1.2em;
}
#toptagline {
	font-weight: 100;
	font-size: 2em;
	text-align: center;
	padding: 7em;
	color: rgb(1,5,151);
}
img {
	display: 100%;
	margin: 0 auto;
	}
div a {
	text-decoration: none;
	font-size: 1em;
	padding: 2% 4%;
	margin: 0 auto;
	display: inline-block;
	color: #333;
	background-color: white;	
}
nav a {
	text-decoration: none;
	font-size: 1em;
	padding: 2% 4%;
	margin: 0 auto;
	display: inline-block;
	color: #333;
	background-color: rgb(244,245,248); 
	
}
div a:hover {
	color: #333; 
	background-color: white;
	}
nav a:hover {
	color: #333; 
	background-color: rgb(223,225,236);
	}
.post {
	margin-bottom: 50px;
	padding: 0;
}

.post img {
	width: 100%;
}
.post-meta {
	border-top: 1px dotted #191919;
	border-bottom: 2px solid #191919;
	display: block;
	padding: 1% 5% 1% 0;
	font-size: .8em;
}

.info {
	padding: 8em;
	background-color: rgb(81,195,202);
	font-size: 1em;
	margin: 0;
}
.history {
	padding: 8em;
	background-color: white;
	font-size: 1em;
	margin: 0;
}	
#legal {
	padding: 5%;
	text-align: center;
	color: rgb(1,5,151);
	font-size: 1em;
	font-weight: 400;
	background-color: rgb(223,225,236);
	margin: 0;
}
@media only screen and (max-width: 800px) {
#container {
	font-size: 12px;
}
h2 {
	font-size: 3em;
}
#main {
		width: 95%;
	}
#toptagline {
	font-weight: 100;
	font-size: 2em;
	text-align: center;
	padding: 6em;
	}	
.post-meta {
	font-size: .7em;
	}
	#contact {
	text-decoration: none;
	font-size: 1em;
	padding: 5% 2%;
	display: inline-block;
	color: #333333;
}
#about {
	font-size: 1em;
}
#logo img{
	width: 35%;
 	padding: 1.5em 1.5em .5em 1.5em,
}
nav a {
	text-decoration: none;
	font-size: 1em;
	padding: 5% 2%;
	display: inline-block;
	color: #333333;
	}
footer {
	font-size: .8em;
	padding: none;
}
}
@media only screen and (max-width: 400px) {
#container {
	font-size: 12px;
}
button {
	padding: 7% 7%;
	}
.post-meta {
	padding: 2%;
	}
#post {
	font-size: .9em;
}
#logo img{
	width: 55%;
	padding: 3em;
}
#toptagline {
	font-weight: 100;
	font-size: 1.5em;
	text-align: center;
	padding: 4em;
	}	
h2 {
	font-size: 3em;
	padding: 1.5% 3% 0 3%;
	}
#contact {
	text-decoration: none;
	font-size: 1em;
	padding: 5%;
	display: block;
	color: #333333;
}
p {
	font-size: 1.2em;
	padding: .25em;
	margin: 0;
}
footer {
	font-size: .8em;
	padding: none;
}

#sitenav {
	font-size: 1.2em;
	}

}